{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h4>You can visualize feature maps of your pretrained model
    by uploading weights file <small>(in .h5/.ckpt/.pb format)</small> and image file <small>(in .jpg/.jpeg/.png format)</small> </h4>
</div>
<div class="content-section" style="background-color: aquamarine;">
    <h3>This web application is a research product by interns of SRI-Delhi</h3>
</div>
    <div class="content-section">
    <pre style="font-size: 15px;">
     <p style="font-size: 20px;">Developed By:</p>
        Omprakash swami (IIT Delhi)
        Nikhil Bodela (IIT Hyd)
    <p style="font-size: 20px;">Under guidance of:</p>
        Suraj rajendran (Software Engineer, SRI-Delhi)
    </pre>
    </div>
{% endblock content %}